/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2016, 11:25:04 AM
    Author     : ThanhVan
    Description: This file handles these styles for Hompage
*/
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #FFF;
}
/* Animations */
.slide-animation-container {
    position: relative;
}

.slide-animation.ng-enter, .slide-animation.ng-leave {
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position: relative;
    /*top: 0;
    left: 0;
    right: 0;*/
    height: 1000px;
}

.slide-animation.ng-enter {
    z-index: 100;
    left: 100px;
    opacity: 0;
}

.slide-animation.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1;
}

.slide-animation.ng-leave {
    z-index: 101;
    opacity: 1;
    left: 0;
}

.slide-animation.ng-leave.ng-leave-active {
    left: -100px;
    opacity: 0;
}
