<ng-map zoom="10" default-style="true" on-click="placeInfoWindowTrend(event)">
    <marker position="current" 
            animation="Animation.BOUNCE" centered="true"
            on-click="placeInfoWindowTrend(event)">
    </marker>
    <info-window id="trend-info" position="{{currentPosition}}">
        <div ng-non-bindable="">
        <div ng-repeat="trend in trends">
            <a href="{{trend.trendLink}}" target="_blank">{{trend.trendName}}</a>
        </div>
      </div>
    </info-window>
</ng-map>
