<nav>
    <ul class="nav navBar nav-left">
        <li class="active">
            <button type="button" ng-click="handle('Documentary')">Documentary</button>
        </li> 
        <li>   
            <button type="button" ng-click="handle('Action')">Action</button>
        </li>
        <li> 
            <button type="button" ng-click="handle('Adventure')">Adventure</button>
        </li>
        <li>  
            <button type="button" ng-click="handle('Comedy')">Comedy</button>
        </li>
    </ul>

</nav>
<div ng-repeat="tweet in tweets">
    <a href="{{tweet.tweetUrl}}">
        <div class = "tweetbox">
            <div>
                <img height="60px" width="60px" ng-src ="{{tweet.imageUrl}}"/>
                <span>{{tweet.userName}}</span>
            </div>
            <p>{{tweet.text}}</p>
        </div>
    </a>
</div>
