<nav class="tweetActionNav">
    <ul class="tweetAction">
        <li class="active" ng-click="handle('Documentary')">
                Documentary
        </li> 


        <li ng-click="handle('Action')">   
            
                Action
            
        </li>


        <li ng-click="handle('Adventure')"> 
            
                Adventure
        </li>


        <li ng-click="handle('Comedy')"> 
                Comedy
        </li>

    </ul>

</nav>
<div ng-repeat="tweet in tweets">
    <a href="{{tweet.tweetUrl}}">
        <div class = "tweetbox">
            <div>
                <img height="60px" width="60px" ng-src ="{{tweet.imageUrl}}"/>
                <span>{{tweet.userName}}</span>
            </div>
            <p>{{tweet.text}}</p>
        </div>
    </a>
</div>
