<nav>
    <ul class="nav navBar nav-left">
        <li class="active">
            <button type="button" ng-click="handle('Documentary')">Documentary</button>
        </li> 
        <li>   
            <button type="button" ng-click="handle('Action')">Action</button>
        </li>
        <li> 
            <button type="button" ng-click="handle('Adventure')">Adventure</button>
        </li>
        <li>  
            <button type="button" ng-click="handle('Comedy')">Comedy</button>
        </li>
    </ul>

</nav>
<div ng-repeat="tweet in tweets">
    <img ng-src ="{{tweet.imageUrl}}"/> <p>{{tweet.text}}</p>
</div>
